html {
	-webkit-appearance: none;
	display: inline;
	padding: 0;
	border: 0;
	outline: 0;
}

html {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h4, h3, h2, h1, p {
	margin: 5px 0px;
}

.body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #f0f1f1;
	margin-top: -10px;
}

.wrapper {
	background-color: #ffffff;
	margin:-8.5px;
}

.navbar {
	background-color: #ffffff;
	width: 100%;
	position: absolute;
	height: 60px;
	margin: -8px 0 0 0;
	z-index: 1;
}

.navbar ul {
	margin: auto;
	width: 960px;
	list-style-type: none;
	padding: 0px;
	text-decoration: none;
}

.navbar li {
	float: left;
	width: 14%;
}

.navbar li a {
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	float: center;
	font-size: 12pt;
	display: block;
	text-decoration: none;
	color: black;
}

.navbar img {
	margin: 0px 0px -3px 5px;
}

.navbar li a:hover {
	background-color: #fafafa;
	color: #00ced1;
}	
     
.aboutbanner {
	background: url(pictures/aboutbanner.png) no-repeat center center fixed;
	background-size: cover;
	width: 100%;
	position: relative;
	height: 640px;
	margin: 0 auto;
	
}

.aboutbanner .overlay{
	font-size: 42pt;
	font-weight: 5px;
	margin: 0 auto;
	line-height: 640px;
	width: 960px;
	padding-left: 20px;
}

.top-margin {
	height: 60px;
}

.textoverlay{
	margin: auto;
	height: 70px;
	padding: 10px;
	color: white;
	text-align: center;
	font-size: 15pt;
	width: 50%;
	border-radius: 10px;
	font-weight: 200;
	background-color: rgba(23, 23, 23, 0.7);
}
.content1 {
	padding-top: 10px;
	width: 960px;
	height: 100%;  
	margin: 0 auto;
	color: black;
}

.contentleft1, .contentleft2 {
	display: inline-block;
	width: 240px;
	padding: 10px;
}

.contentright1, .contentright2{
	display: inline-block;
	width: 640px;
	margin: 20px 0px;
	padding-top: 20px;
	height: 100%;
	vertical-align: top;
}

.content2 {
	padding-top: 10px;
	width: 960px;
	height: 100%;  
	margin: 0 auto;
	color: white;
}

.content1 ul {
	margin: 0 auto;
	width: 80%;
	list-style-type: none;
	padding: 0px;
	text-decoration: none;
	display: inlin-block;
}

.content1 li {
	width: 20%;
	margin: 0px;
	height: 200px;
	padding: 10px;
	display: inline-block;
}

.content1 li a {
	font-size: 16pt;
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: #015B68;
	text-decoration: none;
	text-align: center;
	line-height: 100px;
	color: white;
}

.contentarea1 {
	font-size: 16pt;
	background-color: white;
	width: 100%;  
	min-height: 150px;
	height: 100%;
	margin: 0px;
	padding: 10px;
}

.contentarea2 {
	font-size: 16pt;
	background-color: #039EB5;
	width: 100%;  
	min-height: 200px;
	height: 100%;
	margin: 0px;
	padding: 10px;
}

.partners ul {
	margin: 0 auto;
	width: 960px;
	list-style-type: none;
	padding: 0px;
	text-decoration: none;
}

.partners li {
	max-width: 300px;
	max-width: 280px;
	padding: 30px;
	margin: 0 auto;
	display: inline-block;
}

.partners li a{
	margin: auto auto;
	text-align: center;
	text-decoration: none;
	color: black;
	text-align: center;
	display: inline-block;
	vertical-align:top;

}

.partners img{
	text-align: center;
	max-width: 300px;
	float: center;
}

.index ul, .workbook ul{
	list-style: none;

}

.index li, .workbook li{
	padding: 5px 0px;
}

.index a{
	color: white;
	text-decoration: underline white;
}

.workbook a{
	color: black;
	text-decoration: none;
}

.workbook {
	width: 960px;
	margin: 0 auto;
}

.centertext{
	text-align: center;
}

.downloadbutton{
	width: 100px;
	height: 80px;
	background-color: #0F8251;
	color: white;
	border-radius: 5pt;
	padding: 0px;
	display: inline-block;
	margin: 10px;
}

.downloadbutton a{
	display: block;
	padding: 10px 0;
	width: 100px;
	height: 60px;
	font-size: 12pt;
	text-decoration: none;
	color: white;
	text-align: center;
}

.downloadbutton a img {
	width: 30px;
	padding: 10px;
	-webkit-filter: invert(1);
    filter: invert(1);
}

form {
	margin: 0 auto;
	width: 400px;
	padding: 1em;
	border: 1px solid #CCC;
	border-radius: 1em;
}

div + div {
	margin-top: 1em;
}

label {
	display: inline-block;
	width: 90px;
	text-align: right;
}

input, textarea {
	font: 1em sans-serif;
	width: 300px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #999;
}

input:focus, textarea:focus {
	border-color: #000;
}

textarea {
	vertical-align: top;
	height: 5em;
	resize: vertical;
}

.button {
	padding-left: 90px;
}

button {
	margin-left: .5em;
}

input[type=submit] {
	background-color: #eee;
	padding: 10px 82px;
	text-decoration: none;
	border: 1px solid #bbb;
	font-size: 18px;
	margin: 10px 0px;
	display: block;
}

